.container{
  display: flex;
  justify-content: space-evenly;
}

a{
  border: none;
  all: unset;
}

input{
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
}

input:focus{
  outline: none;
}

.submitBtn{
  background: none;
}

.textInput{
  width: 95%;
  padding: 12px 20px;
  margin: 10px;
  box-sizing: border-box;
}

.loginForm{
  margin-top: 30%;
}

#errorHidden{
  display:none;
  margin-top:20px;
}

.navBar{
  display: flex;
  justify-content: space-between;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navItem{
  float: left;
  width: 100%;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.friendInvitesList{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 600px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  overflow-y: scroll;
}

.potentialFriends{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #D2B48C;
  border: 1px solid #D2B48C;
  border-radius: 25px;
  margin: 10px;
  padding: 5px;
}

.friendRequestList{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 600px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  overflow-y: scroll;
}

.friendRequests{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #D2B48C;
  border: 1px solid #D2B48C;
  border-radius: 25px;
  margin: 10px;
  padding: 5px;
}

.friendList{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 600px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  overflow-y: scroll;
}

.friends{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #D2B48C;
  border: 1px solid #D2B48C;
  border-radius: 25px;
  margin: 10px;
  padding: 5px;
}

.activityList{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 600px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  overflow-y: scroll;
}

.activity{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #D2B48C;
  border: 1px solid #D2B48C;
  border-radius: 25px;
  margin: 10px;
  padding: 5px;
}

.hiddenTab{
  display:none;
}

.visibleTab{
  display:inline;
}

select{
  width: 95%;
  padding: 12px 20px;
  margin: 10px;
  box-sizing: border-box;
}

#updateIcon{
  margin-left: 40%;
}

#avatar{
  margin-left: 33%;
}

.smallAvatar{
  width:36px;
  height: 36px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

